.serviceName {
  position: relative;
  background-color: white;
  width: 260px;
  display: inline-block;
  border: solid 1px gray;
  border-radius: 4px;
  margin: 3px 10px 3px 0px;
  padding: 5px 8px;
  font-family: monospace;
  font-size: 14px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 300px;
  max-width: 80%;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.serviceOn {
	background-color: #dfffdf;
}

.serviceOff {
	background-color: lightgray;
}

.branchInfo {
    background-color: lightgray;
    width: 600px;
}

.serviceError {
	background-color: lightcoral;
}

.btn {
  margin: 0px 7px;
  width: 80px;
}

.btnMass {
    margin: 0px 7px;
    height: 25px;
}

.btnAll {
  margin: 10px 10px;
  width: 220px;
  height: 50px;
  font-size: 13px;
  background-color: #ffcea4;
}

.loader {
	width: 40px;
  vertical-align: middle;
  display: inline-block;
  visibility: hidden;
}

.tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.serviceName:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.serviceRow {
  width: max-content;
}
